body {
  margin: 0px;
}

#addeventform input{
  display: block;
  width: 18rem;
  height: 2rem;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#addeventform select {
    display: block;
    border: 1px solid #ccc;
    width: 18rem;
    height: 2rem;
    border-radius: 5px;
}

#addeventform .addeventbutton {
  width: 12rem;
  margin: 1rem auto 1rem auto;
}

#addeventform .addeventbutton:hover{
  background-color: #1b53ad;
}

#addeventform .addeventformfield{
  border: 1px solid lightgray;
  margin: 0.7rem auto 0 auto;
  padding-left: 3px;
}

.eventfeedbutton {
  width: 18rem;
  display: block;
  margin: 0.7rem auto 0 auto;
  padding: 1rem;
}

header {
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  background-color: rgb(240,240,240);
}

header #logoheaderimg{
  display: inline;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

header #logoheadertext{
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto Slab', serif;
}

header .headerlogo {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

header .logofootertextcenter {
  display: inline;
  line-height: 2rem;
  height: 2rem;
}

.headertext {
  position: absolute;
  top: 0;
}

.headertext:hover {
  cursor: pointer;
}

header #backheadertext {

  left: 1rem;
}

header #logoutheadertext {
  position: absolute;
  right: 1rem;
}

#addplayerbutton {
  position: absolute;
  top: 4.5rem;
  right: 1.5rem;
  font-size: 20px;
  width: 1.8rem;
}

#playersort select {
    display: block;
    border: 1px solid #ccc;
    width: 18rem;
    height: 2rem;
    border-radius: 5px;
    margin: auto auto 0 auto;
}

.playerbutton {
  text-align: left;
  width: 18rem;
  height: 6rem;
  margin: .5rem auto 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  display: block;
}

.playerbutton:hover {
  background-color: #1b53ad;
}

.playerbutton img{
  display: inline-block;
  height: 5rem;
  border-radius: 2px;
  padding: .5rem

}

.playerbutton .playerdetails{
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  list-style-type: none;
  padding-left: 0;
}

.playerpreview {
  text-align: center;
}

.playerpreview img{
  width: 10rem;
  border-color: rgb(100,100,100);
  border-style: solid;
  border-width: 1px;
  border-radius: 5rem;
}

.playerpreview #playerbuttonimg {
  visibility: hidden;
}

.playerdetails {
  list-style-type: none;
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.playerform {
  width: 18rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.playerform input{
  display: block;
  width: 18rem;
  height: 2rem;
  border-radius: 5px;
  margin-top: .5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.playerform .addplayerbutton {
  width: 12rem;
  margin: 1rem auto 1rem auto;
}

.editplayerbuttons {
  display: inherit;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
}

#deletePlayer {
  background-color: #b72027;
}

#deletePlayer:hover {
  background-color: #771c1a;
}
