@import url('https://fonts.googleapis.com/css?family=Asap|Slabo+27px');

body {
    background-color: #74AFAD;
    color: #ECECEA;
    font-family: 'Asap', sans-serif;
}

h1 {
  color: #ECECEA;
  font-family: 'Slabo 27px', serif;
  font-size: 60px;
  text-align:center;
  margin-top: 20px;
}

a:link {
color: #AED6F1;
}

a:visited {
color: #AED6F1;
}

a:hover {
color: #5DADE2;
}

.validator-link:link {
color: #D9853B;
}

.validator-link:visited {
color: #D9853B;
}

.validator-link:hover {
color: #B26928;
}

article {
  background-color: #558C89;
  margin-bottom: 10px;
  padding-bottom: 1px;
}

article h2 {
  border-bottom: 2px solid;
  border-color: #ECECEA;
  font-size: 30px;
  margin-left: 15px;
}

article p {
  margin-left: 15px;
  margin-right: 15px;
}

nav {
  background-color: #D9853B;
  margin-bottom: 20px;
}

.face-picture img{
  border-radius: 50px 50px 0px 0px;
  height: 300px;
  width: 300px;
}

.full-bio {
  text-align: center;
}

.full-bio article {
  border-radius: 0px 0px 25px 25px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 300px;
}

table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.datastructure p {
  margin-bottom: 0;
}
