h1{
  font-family: 'Roboto Slab', serif;
}

#logincontainer{
  text-align: center;
  padding-top: 10%;
}

#logincontainer img{
  width: 8rem;
}

#loginform input{
  display: block;
  width: 15rem;
  height: 2rem;
  padding: 0;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;    
}

#loginform .logininput{
  border: 1px solid lightgray;
  margin: 0.7rem auto 0 auto;
  padding-left: 3px;
}

#loginform .loginbutton{
  border: 0px;
  margin: 1rem auto 0 auto;
  background-color: #4286f4;
  color: white;
}

#loginform .loginbutton:hover{
  background-color: #1b53ad;
}
