/* Hint: use relative measurements you'll find them useful! */
/* I may have removed a selector or two */

@import url('https://fonts.googleapis.com/css?family=Monoton');  /* Set this for Monton a Google Font ...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
  background-image: url("background.png");
}

main {
  background-color: white;
  border: 20px solid transparent;
  margin: 6rem 3em 6rem 3rem;
  -webkit-border-image: url("border.gif") 20 round; /* Safari 3.1-5 */
  -o-border-image: url("border.gif") 20 round; /* Opera 11-12.1 */
  border-image: url("border.gif") 20 round;
}

#spritesheet{
  display: none;
}

header {
  margin: 3rem 2rem 0 2rem;
}

header a.logo {
  border-radius: 50%;
  background-color: #f449bb;
  color: black;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  text-decoration: none;
  padding: .8rem 1.5rem .8rem 1.5rem;
  box-shadow: .2rem .2rem 1rem black;
  margin: 2rem 0 0 0;
}

header .fun {
  margin-top: 2rem;
  font-size: 4rem;
  text-shadow: 0 .1rem .3rem red, -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

section {
	/* color rgb(243,234,95) is used */
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 1rem 2rem;
}

section > div {
  /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-transform: lowercase;
  background-color: rgb(192,77,249);
  color: white;
  text-align: center;
  padding: 1.3rem;
  font-size: 1.3rem;
}

section > div + div{
  background-color: rgb(43,209,252);
  order: -1;
}

section > div + div + div {
  background-color: rgb(192,77,249);
  order: -2;
}

section > div:nth-child(3):after{
  content: " ♥♥♥";
}

section > div:nth-child(4){
  background-color: rgb(43,209,252);
  order: -3;
}

/* some free rules for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-radius: 1rem 2rem 1rem 2rem;
    font-size: 1.7rem;
    /* rem units are your friend use them often */
    font-family: sans-serif;
    text-align: center;
    margin: 0 2rem 0 2rem;
    padding: 1rem;
}

aside svg{
  height: 2rem;
  width: 2rem;
  fill:white;
  display: inline;
}

/* Oh no! The file has been truncated I guess you have to fill it in */

section#zap {
  text-align: center;
  background-color: #F3E86A;
  border: .5rem solid;
  border-style: double;
  border-radius: .5rem;
  color: white;
  text-shadow: 0 .05rem .1rem black;
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem 0 1rem 0;
  font-size: 1.5rem;
}

section#zap h3 {
  text-align: center;
  margin: 0;
}

section#zap span{
  font-size: 2rem;
}

section#zap img{
  width: 1.2rem;
  height: 1.2rem;
}

footer {
  font-family: ‘Apple Chancery’, ‘URW Chancery L’, ‘Monotype Corsiva’, cursive;
  font-size: 1.5rem;
  margin: 3rem 0 0 0;
  background-color: #EC4CC1;
  padding: 2rem;
  text-align: center;
}

footer .wrapper span {
  border: 0.3rem solid black;
  border-radius: 0.4rem;
  padding: .4rem .3rem .4rem .3rem;
  margin: 0 0 0 0.5rem;
  display: inline-block;
  vertical-align: top;
  background: white;
  box-shadow: 0 .5rem .5rem rgba(49,49,49,0.7);
  position: relative;
  opacity:0;
  transition:opacity 0.2s linear;
}

footer img:hover + span{
  opacity: 1;
}

footer .wrapper span:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 0.6rem;
  border-top: .8rem solid transparent;
  border-right: 1rem solid black;
  border-bottom: .8rem solid transparent;
}

footer img{
  width: 7rem;
  margin: 0 0 0 5rem;
}

@media only screen and (max-width: 500px) {

  html{
    font-size: 14px;
  }

  footer{
    font-size: 1rem;
  }

  footer img{
    width: 4.5rem;
    margin: 0 0 0 3rem;
  }

}

/* Solution given should
   be below 250 lines, the solution we had was
   below 200 easily formatted */
